{% load static %}
<style>
  ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 60px;
    min-height: 0px !important;
    font-size: 25px;
}
</style>
<link href="{% static 'Main/css/style1.css'%}" rel="stylesheet">
<div class="front" id="front">
    <ul>
      <li>
        <a href="{% url 'guest:HomePage' %}">Home</a>
      </li>
      <li>
        <a href="{% url 'guest:CompanyRegistration' %}">Company</a>
      </li>
      <li>
        <a href="{% url 'guest:DriverRegistration' %}">Driver</a>
      </li>
      <li>
        <a href="{% url 'guest:UserRegistration' %}">User</a>
      </li>
      <li>
        <a href="{% url 'guest:Login' %}">Login</a>
      </li>
    </ul>
</div>

{% block content %}
{% endblock content %}
