{% extends 'Driver/Include.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <form>
        <div class="container">
            <table class="table">
                <tr>
                    <th>sl.no</th>
                    <th>Start Date</th>
                    <th>Vehicle</th>
                    <th>Action</th>
                </tr>
                {% for schedule in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ schedule.transport_request_id.transport_request_for_date }}</td>
                    <td>{{ schedule.vehicle_id.vehicle_name }}
                        <input type="hidden" value="{{ schedule.transport_request_id.transport_request_status }}" id="status">
                        <input type="hidden" value="{{ schedule.transport_request_id.transport_request_id }}" id="hid">
                    </td>
                    <td>
                        <a href="{% url 'driver:ViewMore' schedule.transport_request_id.transport_request_id %}">View</a>

                        {% if schedule.transport_request_id.transport_request_status == 2 %}
                            <a href="{% url 'driver:AssignedUpdate' schedule.transport_request_id.transport_request_id 3 %}">Start</a>
                        {% elif schedule.transport_request_id.transport_request_status == 3 %}
                            <a href="{% url 'driver:AssignedUpdate' schedule.transport_request_id.transport_request_id 4 %}">Delivered ?</a>
                        {% else %}
                            Delivered
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var uri = "{% url 'driver:AjaxUpdate' %}";
    
            var id = $("#hid").val(); // Get the value of the hidden input with id 'hid'
            var status = $("#status").val(); // Get the value of the hidden input with id 'status'
    
            if (status.trim() === "3") {
                setInterval(function() {
                    function showPosition(position) {
                        var Latitude = position.coords.latitude;
                        var Longitude = position.coords.longitude;
    
                        console.log("Latitude = " + Latitude);
                        console.log("Longitude = " + Longitude);
    
    
                        $.ajax({
                            data: {
                                id: id,
                                longitude: Longitude,
                                latitude: Latitude,
                            },
                            url: uri,
                            success: function(res) {
                                console.log(res);
                            }
                        });
                    }
    
                    function getLocation() {
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(showPosition);
                        } else {
                            alert("Geolocation is not supported by this browser.");
                        }
                    }
                    getLocation();
    
                }, 10000);
            }
        });
    </script>
    
</body>
</html>
{% endblock content %}
