{% extends 'Driver/Include.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Company</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Search Company</h2>
        <form method="post" >
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="sel_state">State</label>
                        <select class="form-control" name="sel_state" id="sel_state" required>
                            <option value="">----Select State----</option>
                            {% for i in state %}
                            <option value="{{i.state_id}}">{{i.state_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="sel_district">District</label>
                        <select class="form-control" name="sel_district" id="sel_district" required>
                            <option value="">----Select District----</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="sel_location">Location</label>
                        <select class="form-control" name="sel_location" id="sel_location" required>
                            <option value="">----Select Location----</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" id="div_company">
               
            </div>
            
            
        </form>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $("#sel_state").change(function () {
    var sid = $(this).val();
    var uri = "{% url 'admin:AjaxDistrict' %}";
    $.ajax({
      url: uri,
      data: { sid: sid },
      success: function (data) {
        $("#sel_district").html(data);
      },
    });
  });
  $("#sel_district").change(function () {
    var did = $(this).val();
    var uri = "{% url 'admin:AjaxLocation' %}";
    $.ajax({
      url: uri,
      data: { did: did },
      success: function (data) {
        $("#sel_location").html(data);
      },
    });
  });

  $("#sel_location").change(function () {
    var lid = $(this).val();
    var uri = "{% url 'admin:AjaxCompany' %}";
    $.ajax({
      url: uri,
      data: { lid: lid },
      success: function (data) {
        $("#div_company").html(data);
      },
    });
  });
</script>
{% endblock content %}