{% extends 'Driver/Include.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <form>
        <div class="container">
            <table class="table">
                <tr>
                    <th>sl.no</th>
                    <th>Start Date</th>
                    <th>Vehicle</th>
                    <th>Action</th>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
{% endblock content %}